.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: fit-content;
    margin: 20vh auto;
    border-radius: 5px;
}
.login-box form{
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: large;
}
.login-box label{
    border-bottom: 2px solid #673AB7;
    margin: 15px 0;
}
.login-box input{
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    min-width: 250px;
    background-color: #504466;
}
.login-box button{
    width: 100px;
    margin: 10px auto;
    padding: 8px 5px;
    font-weight: 700;
    background-color: #a752f7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.login-box h4{
    font-family:'Courier New', Courier, monospace;
    margin: 20px auto;
}